@mixin view($breakpoint) {
	@if $breakpoint == mobile-max {
		@media only screen and (min-width: 567px) {
			@content;
		}
	}
	@if $breakpoint == mobile {
		@media only screen and (min-width: 767px) {
			@content;
		}
	}

	@if $breakpoint == tablet {
		@media only screen and (min-width: 1023px) {
			@content;
		}
	}

	@if $breakpoint == small-desktop {
		@media only screen and (min-width: 1280px) {
			@content;
		}
	}

	@if $breakpoint == desktop {
		@media only screen and (min-width: 1440px) {
			@content;
		}
	}
}

@mixin sectionPadding {
	padding: 1.5em 0;

	@include view(tablet) {
		padding: 3em 0;
	}
}

@mixin btn {
	transition: all 0.3s;
	border-radius: 8px;
	background-color: $black;
	padding: 0.5em 1em;
	color: $gray;
	text-decoration: none;

	&:hover {
		background-color: $darkGray;
		color: $black;
	}

	@include view(mobile) {
		padding: 1em 2em;
	}
}
